/* ==========================================================================
   #CONTAINER-OBJECT
   ========================================================================== */

.o-container {
  @include spacing-sides;

  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
