/* ==========================================================================
   #WRAPPER-OBJECT
   ========================================================================== */

.o-wrapper {
  flex: 1 0 auto;
  overflow: visible;
}
