/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */

.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: $color-dark !important;
}
