/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-blue: #0047b6;
$color-dark: #000;
$color-grey: #4a4a4a;
$color-red: #ff0000;
$color-yellow: #ffbb40;

$color-primary: $color-blue;
$color-secondary: $color-grey;
$color-body: $color-dark;
$color-danger: $color-red;
$color-warning: $color-yellow;
