/* ==========================================================================
   #CONFIG-VARIABLES
   ========================================================================== */

// These variables must act as constants, hence the uppercase
$ENV: 'dev';
