/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */

$spacing-unit: 8px;
$spacing-sides: $spacing-unit * 2;
$spacing-sides\@tablet: $spacing-unit * 3;
$spacing-sides\@desktop: $spacing-unit * 3;

$spacing-xs: $spacing-unit;
$spacing-md: $spacing-unit * 2;
$spacing-lg: $spacing-unit * 3;
$spacing-xl: $spacing-unit * 4;
