/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */

$transition-duration: 0.3s;
$easing: cubic-bezier(0.23, 1, 0.32, 1);
